body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
section{
    height: 100vh;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    margin-top: -100vh;
}